 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I love to try last tech/tool for possibility. This also make me feeling excite every time we start develop something! Hope you find those useful. Enjoy!</p>
                </div>
                <div class="col-lg-4">
                    <p>I admit that I'm also design addict! When I'm done with coding I'm love drawing in my free time.</p>
                </div>
            </div>
            <div class="row text-center">
              <a href="http://resume.github.io/?katopz" class="btn btn-lg btn-outline">
                <i class="fa fa-github"></i> Coding
              </a>
              <a href="http://katopz.deviantart.com/" class="btn btn-lg btn-outline">
                <i class="fa fa-photo"></i> Design
              </a>
            </div>
        </div>
    </section>
