 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We love to try last tech/tools for developing application which make us exciting and have fun learning along the way!</p>
                </div>
                <div class="col-lg-4">
                    <p>We admit that we're also design addict! Our developer is enjoy UI/UX design and drawing while not coding.</p>
                </div>
            </div>
            <div class="row text-center">
              <a href="http://resume.github.io/?katopz" class="btn btn-lg btn-outline">
                <i class="fa fa-github"></i> Coding
              </a>
              <a href="http://katopz.deviantart.com/" class="btn btn-lg btn-outline">
                <i class="fa fa-deviantart"></i> Design
              </a>
            </div>
        </div>
    </section>
